src/main/mule/business-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<flow name="sf-from-fox-to-new"
		doc:id="dda2293a-f3aa-41b9-aa97-bfe9ccbda6c5">
		<batch:job jobName="user-from-fox-to-new-Batch_Job"
			doc:id="e9265e23-8dde-4855-8b03-b8ee709a4896">
			<batch:process-records>
				<batch:step name="query-account-from-new-step"
					doc:id="73f5cdc7-59ae-46cb-b1b4-1b3a965e2f3e">
					<salesforce:query
						doc:name="Query Single Account from New"
						doc:id="783b2ca3-1ace-4f8b-bc6d-d64b59563878" target="IdDateInB"
						config-ref="Salesforce_Sfdc_new_org_config"
						targetValue="#[payload[0]]">
						<salesforce:salesforce-query><![CDATA[SELECT Id, LastModifiedDate FROM Account WHERE LastName= ':Name']]></salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"Name" : payload.LastName
}]]]></salesforce:parameters>
					</salesforce:query>
					<ee:transform
						doc:name="Add SFDC Account Id to payload"
						doc:id="509db176-21ab-4b21-8bda-f52b010254e0">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	Id: if(vars.IdDateInB !=null) vars.IdDateInB.Id else null,
	LastModifiedDateB: if(vars.IdDateInB !=null) vars.IdDateInB.LastModifiedDate else null
	}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertIn-salesforce-new-step"
					doc:id="ef1fa6ea-9b07-4385-a0b2-491396f97a34"
					acceptExpression="payload.Id == null  or (payload.LastModifiedDateB &lt; payload.LastModifiedDate)">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="1df6c548-87de-4cfe-9ebb-412cab2b1499" size="${page.size}">
						<ee:transform doc:name="Prepare Account for Upsert"
							doc:id="5263e05a-1baf-4e7d-befd-a210be595768">
							<ee:message>
								<ee:set-payload resource="dwl/foxToNew.dwl" />
							</ee:message>
						</ee:transform>
						<salesforce:upsert externalIdFieldName="Id"
							doc:name="Upsert Account in Salesforce New"
							doc:id="4a36339e-9efd-4264-a864-ddbdbc0b1732"
							config-ref="Salesforce_Sfdc_new_org_config" objectType="Account" />
						<logger level="INFO" doc:name="Logger"
							doc:id="8ad729e4-d65a-4c39-be69-eb2be124964b"
							message="#[output application/json&#10;---&#10;payload]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="4da0508d-721a-4f16-88c0-ef3069db4d51">
				<os:store doc:name="Set sync state to fromA"
					doc:id="45b390c3-e0f0-4f19-bb26-e2853a08655f" key="syncState"
					objectStore="SchedulerStatus">
					<os:value><![CDATA[fromA]]></os:value>
				</os:store>
			</on-error-continue>
		</error-handler>
	</flow>

	<flow name="sf-from-new-to-fox"
		doc:id="97fa8c20-2841-42a4-9d8d-7de44dfe12c5">
		<batch:job jobName="user-from-new-to-fox-Batch_Job"
			doc:id="c8315ca1-2e5b-427d-a660-50c04a808463">
			<batch:process-records>
				<batch:step name="query-account-from-fox-step"
					doc:id="a2621ecf-e6bf-4108-ab25-ba681a269732">
					<salesforce:query
						doc:name="Query Single Account from Fox"
						doc:id="6c580c53-b898-4ef2-80c3-2faeda43273d" target="IdDateInA"
						config-ref="Salesforce_Sfdc_fox_org_config"
						targetValue="#[payload[0]]">
						<salesforce:salesforce-query><![CDATA[SELECT Id, LastModifiedDate FROM Contact WHERE LastName= ':Name']]></salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"Name" : payload.LastName 
}]]]></salesforce:parameters>
					</salesforce:query>
					<ee:transform
						doc:name="Add SFDC Account Id to payload"
						doc:id="f66fd77d-13c7-4d13-a355-3e132873900e">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	Id: if(vars.IdDateInA !=null) vars.IdDateInA.Id else null,
	LastModifiedDateA: if(vars.IdDateInA !=null) vars.IdDateInA.LastModifiedDate else null
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertIn-salesforce-fox-step"
					doc:id="8d0f79fc-9e95-4bea-8e85-0e74dc6c7a80"
					acceptExpression="payload.Id == null  or (payload.LastModifiedDateA &lt; payload.LastModifiedDate)">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="5be842bf-b2d7-49cf-9796-13eb053fbd6c" size="${page.size}">
						<ee:transform doc:name="Prepare Account  for Upsert"
							doc:id="5edef759-31d6-49af-a462-c9b94df858df">
							<ee:message>
								<ee:set-payload resource="dwl/newToFox.dwl" />
							</ee:message>
						</ee:transform>
						<salesforce:upsert externalIdFieldName="Id"
							doc:name="Upsert Account in Salesforce fox"
							doc:id="c46631db-c257-4332-80b3-8103dbb7901b"
							config-ref="Salesforce_Sfdc_fox_org_config" objectType="Contact" />
						<logger level="INFO" doc:name="Logger"
							doc:id="3ad59da9-8d84-4b35-a223-255483cb67f0"
							message="#[output application/json&#10;---&#10;payload]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="0e9b1e49-2e78-4fe1-a646-ac8021497488">
				<os:store doc:name="Set sync state to fromB"
					doc:id="2ca0da18-22be-423a-be03-ab18d3cf885f" key="syncState"
					objectStore="SchedulerStatus">
					<os:value><![CDATA[fromB]]></os:value>
				</os:store>
			</on-error-continue>
		</error-handler>
	</flow>


</mule>